:root{
    --font : NSimSun;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #0DCF13;
}

p{
    color: rgba(39, 36, 36, 0.959);
    font-family: var(--font);
    font-size: 20;

    font-weight: bold;
    
}

.bigHolder{
    display: flex;
    flex-direction: column;

    width: 300px;
    height: 600px;

    justify-content: center;
    align-items: center;
}

#gameName{
    height: 0px;

    -webkit-text-stroke: 2px black;
    color: rgba(255, 235, 205, 0);
    font-size: 50px;
}

.dancingImg{
    width: 211px;
    height: 202px;
}

.anime{

    animation: loading 0.7s infinite;
}

.loadingImg{
    width: 30px;
    height: 30px;
    
    
}

.ultra{
    position: absolute;
    right: 50px;
    bottom: 0px;

    font-size: 25px;
    font-weight: bold;
}

@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    12.5%{
        transform: rotate(-45deg);
    }
    25%{
        transform: rotate(-90deg);
    }
    37.5%{
        transform: rotate(-135deg);
    }
    50%{
        transform: rotate(-180deg);
    }
    62.5%{
        transform: rotate(-225deg);
    }
    75%{
        transform: rotate(-270deg);
    }
    87.5%{
        transform: rotate(-315deg);
    }
    100%{
        transform: rotate(-360deg);
    }

}